@import "tailwindcss";
@import 'boxicons/css/boxicons.min.css';
@source "../views";

@theme {
    --font-apple: 'Archivo', -apple-system, BlinkMacSystemFont, sans-serif;
    --color-secondary: #13100F;
}

* {
    font-family: 'Archivo', sans-serif;
}